:root {
  --clr-primary-light: #f3eed9;
  --clr-primary-medium: #824936;
  --clr-primary-dark: #222c2a;

  --font-sans: 'Roboto';
  --font-serif: 'Playfair Display'
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--font-sans), sans-serif;
  color: var(--clr-primary-dark)
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: .5em;
}

.hero--title {
  font-family: var(--font-serif);
  color: var(--clr-primary-medium);
  font-size: 3.75rem;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 660px;
  background-color: var(--clr-primary-light);
}

.hero--content {
  max-width: 760px;
}
